* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

.container-hero {
  background-color: #7b66ff;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo_nama a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.list-data-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.list-data-navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.button button {
  background-color: #7b66ff;
  border: 2px solid #5fbdff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  gap: 1rem;
}

.icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.hero-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
