* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

p i {
  font-size: 30px;
  color: #fff;
}

.card {
  width: 16rem;
  background-color: #fff;
  box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 3px 3x 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 3px 6px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}
.container-hero {
  background: rgb(255, 144, 194);
  background: linear-gradient(
    90deg,
    rgba(255, 144, 194, 1) 0%,
    rgba(242, 190, 209, 1) 53%,
    rgba(255, 197, 197, 1) 100%
  );
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo_nama a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.list-data-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.list-data-navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.btn {
  background-color: #643843;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  flex-direction: row;
  height: 100vh;
  gap: 1rem;
}

.icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.hero-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.bg-img {
  background-image: url("../assets/images/blob.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 400px;
  width: 400px;
}

.about-container {
  /* height: 100vh; */
  padding: 20px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}

.right-content_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.img-about {
  border-radius: 10px;
}
.skills-container {
  height: 100vh;
  padding: 20px;
  margin: 50px 0;
}

.heading-skill {
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.heading-skill h2 {
  font-size: 32px;
}

.wrapper-card {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;
}

@media screen and (max-width: 480px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    /* flex-direction: column; */
  }

  .icon {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}
